@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Poppins:wght@400;700&display=swap');

.leftdiv{
    width: 50%;
    height: 10rem;
    color: #808388;
    font-family: 'Montserrat', sans-serif;
}
.leftdiv ul{
    display: flex;
    list-style: none;
    color: #808388;
    text-decoration: none;
}
#inputsearch{
    background-color: transparent;
    width: 15rem;
    height: 2rem;
    border: 1px solid #808388 ;
    border-radius: 3px;
    font-size: large;
    color: #808388;
}

.leftdiv ul li{
    width: 15rem;
    height: 1rem;
    text-decoration: none;
    font-size: large;
    color:  #808388;
    border-right: 1px solid #808388;
    text-align: center;
   
}
.leftupright{
margin-left: 100px;
}
.rightdiv{
    width: 50%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headmain{
    display: flex;
}
#headbutton{
    background-color: transparent;
    width:2rem;
    height: 2rem;
    border: 1px solid #808388 ;
}
.leftup{
    display: flex;
    padding: 15px;
}